// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

body {
  margin: 0;
}


.full-page {
  display: flex;
  flex-direction: column;
}
//nav bar section

.navbar {
  min-width: 25rem;
  padding: 1rem;
  background-color: #962ab7;
  color: white;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 25rem;
  max-width: 65rem;
  height: 1rem;
  margin: 0 auto;
}

.nav-title {
  display: flex;

}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-links,
a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;

}

.text__container {
  min-width: 20rem;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
}

//navy box section

.navy-box {

  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 20rem;
  min-height: 20rem;
  background-color: #1b2977;
  color: #eee;
}

//

//maroon section
.maroon-box {
  position: relative;
  min-width: 20rem;
  min-height: 20rem;
  background-color: maroon;
  color: white;

}

.maroon-text {
  position: absolute;
  top: 50%;
  margin: auto;
  transform: translate(40%, -40%);
}

.cera__container {
  min-width: 20rem;
  max-width: 65rem;
  margin: 0 auto;
}

.cera__grid {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.cera__grid-item {


}

.cera-card {
  flex-basis: calc(100% / 5  - 1rem);
  margin: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.4);

}

.small {
  max-width: 100%;
}

//big card
// .big-container {
//   display: flex;
//   flex-direction: row;
//   max-width: 65rem;
//   justify-content: space-around;
//   margin: 0;
// }

//big card
.big-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  // align-items: center;

  max-width: 100%;
  margin: 1rem;
  box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.75);
}

.big {
  max-width: 100%;
}

// footer
.sticky-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #333;
  color: white;
  overflow: auto;
}

.footer-links {
  list-style-type: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 65rem;
}
