// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

//nav bar section
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
  background-color: #962ab7;
  color: white;
}

//

//navy box section

.navy-box {

  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  background-color: #1b2977;
  color: #eee;
}

//
.container  {
  max-width: 100%;
}

//maroon section
.maroon-box {
  display: flex;
  position: absolute;
  max-width: 100%;
  transform: translate(50%, 0%);


  background-color: maroon;
  color: white;
}
//

//small card section
.small-contatiner {

  margin: 65rem;
}
//

//small card
.small-card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
}

//small card img
.cera-big {
  max-width: 15%;
}

//big card
.big-container {
  margin: 65rem;
}

//big card
.big-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}

// footer
.sticky-footer {
  display: flex;

  background: #333;
  overflow: auto;
}

.footer-links {
  list-style-type: none;
}

.full-page {
  display: flex;
  flex-direction: column;
}
