// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

body {
  margin: 0;
}


//nav bar section
.nav-bar {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: #962ab7;
  color: white;
}

.nav-items  {
  list-style-type: none;

}

//

//navy box section

.navy-box {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #1b2977;
  color: #eee;

  min-height: 20rem;
}

//
.container {
  max-width: 100%;
}

//maroon section
.maroon-box {
  display: flex;

  min-height: 20rem;

  background-color: maroon;
  color: white;
}

.maroon-text {
  position: absolute;
  top: 75%;
  transform: translate(50%,  -50%);
}
//

//small card section
.small-contatiner {
  display: flex;


  max-width: 100%;


}
//

//small card
.small-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% / 5);
  max-width: 100%;
  margin: 1rem;
  border: 1px solid black;

}


.small  {
  max-width: 100%;
}

.text  {
  max-width: 54%;
}



//big card
.big-container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

//big card
.big-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% / 5);
  max-width: 100%;
  margin: 1rem;
}

.big {
  max-width: 100%;
}

// footer
.sticky-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  color: white;
  overflow: auto;
}


.footer-links {
  list-style-type: none;
}

.full-page {
  display: flex;
  flex-direction: column;
}
